
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: "HelveticaNue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #505050;
  margin: 0;
  background-color: #F3F3F3;
}

.header {
  background-color: #E1D5BF;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo-img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.site-title {
  font-size: 3em;
  font-weight: 100;
  padding-top: 0;
  font-family: "Dancing Script", cursive;
  color: #00703C;
}

.nav-divide {
  height: 4px;
  width: 100%;
  background-color: #00703C;
}

.navbar-nav {
  margin-right: 0;
  margin-left: 0;
}

.navbar {
  position: static;
}

.nav>li>a {
  padding-left: 15px;
  padding-right: 0;
}

.navbar-default {
  background-color: #E1D5BF;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color:#00703C;
  font-size: 1.313em;
  font-weight: 300;
}

.navbar-default .navbar-nav>li>.active,
.navbar-default .navbar-nav>li>.active:hover,
.navbar-default .navbar-nav>li>.active:focus {
  font-weight: 400;
  background-color: #00703C;
  color: #E1D5BF;
}

.page-title {
  color: #006BA6;
  font-size:2em;
  font-family: "Dancing Script", cursive;
  margin: 20px 0;
}

.profile-image {
  border: 2px solid #00703C;
}

.officer {
  margin-bottom: 40px;
}

.officer-detail {
  .name {
    color: #00421E;
    font-weight: bold;
  }

  .detail {
    color: #00728F;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .nav>li>a {
    padding-right: 0;
  }

  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    margin-right: 2em;
  }

  .navbar-default .navbar-nav>li>.active,
  .navbar-default .navbar-nav>li>.active:hover,
  .navbar-default .navbar-nav>li>.active:focus {
    padding-right: 15px;
  }
}

